@page "/Cloudflare"
@using Microsoft.Extensions.Localization
@using global::Abp.Dns.Cloudflare.Localization
@inject IStringLocalizer<CloudflareResource> L
@{
}
<h1>Cloudflare Hello</h1>
<p>@L["SamplePageMessage"]</p>