@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Abp.Dns.Cloudflare.Web.Pages.Cloudflare.Dns.DeleteCredentialModel

@{
    Layout = null;
}

<form method="post" action="@Url.Page("/Cloudflare/Dns/DeleteCredentialModel")">
    <abp-modal centered="true" scrollable="true" size="Large" id="deleteModel">
        <abp-modal-header title="Delete Your Zone Credential"></abp-modal-header>
        <abp-modal-body>
            <p>Are you sure you want to delete this Zone Id: <strong>@Model.Input.ZoneId</strong> credential?</p>
        </abp-modal-body>
        <abp-modal-footer buttons="@AbpModalButtons.Save | @AbpModalButtons.Cancel"></abp-modal-footer>
    </abp-modal>    
</form>
