@page
@using Microsoft.Extensions.Localization
@using Abp.Dns.Cloudflare.Localization
@using Abp.Dns.Cloudflare.Web.Pages.Cloudflare
@model Abp.Dns.Cloudflare.Web.Pages.Cloudflare.IndexModel
@inject IStringLocalizer<CloudflareResource> L

@{
}
<h1>Cloudflare Hello</h1>
<p>@L["SamplePageMessage"]</p>
